@import './base.css';

body {
   background-color: #f1f1f1;
}

.btn {
   background-color: unset;
   border: none;
   transition: background-color 0.2s ease !important;
}

.btn:active {
   border: none;
}

.btn:hover {
   background-color: #a0a0a0 !important;
   color: black !important;
}

table {
}

table th {
   line-height: 3rem;
}